services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "55432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d:ro

  app:
    build: .
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}

      DISPLAY: ${DISPLAY}
      QT_X11_NO_MITSHM: "1"

      QTWEBENGINE_DISABLE_SANDBOX: "1"
      QTWEBENGINEPROCESS_PATH: /usr/lib/qt6/libexec/QtWebEngineProcess
      XDG_RUNTIME_DIR: /tmp/runtime-root

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    devices:
      - /dev/dri:/dev/dri
    shm_size: "1gb"

volumes:
  pgdata: